/* HEADER */
.contain-to-grid {
    background-image: url(../img/header-bg.png);
    background-position: center;
}

.top-bar {
    height: 132px;
    background-color: transparent;
}

.logo {
    width: 228px;
    height: 132px;
    
    background-color: white;
    background-image: url(../img/logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

/* QUADRADOS COLORIDOS */
.first-square {
    width: 52px;
    height: 64px;
}

.second-square {
    width: 52px;
    height: 68px;
}

.blue {
    background-color: #364780;
}

.green1 {
    background-color: #86883c;
}

.green2 {
    background-color: #009252;
}

.green3 {    
    background-color: #1a401e;
}

.green4 {
    background-color: #8dc63f;
}

.orange {
    background-color: #f26522;
}

.red {
    background-color: #a21418;
}

.menu-containers {
    width: 180px;
    float:left;
}

.above-home1 {
    width: 90px;
    height: 64px;
}

.above2 {
    width: 180px;
    height: 64px;
}

.menu-button {
    width: 180px;
    height: 68px;
}

.above-empresa1 {
    width: 62px;
    height: 64px;
}

.above-produtos {
    width: 180px;
    height: 64px;
}

.above-contato1 {
    width: 92px;
    height: 64px;
}

@media only screen and (max-width: 64.063em) {
    .menu-containers, .above2, .menu-button {
        width: 170px;
    }
}

/* FIM DOS QUADRADOS COLORIDOS */
/* FIM DO HEADER */